        .site-header {
            display: flex;
            flex-direction: row;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
        }
        
        @media screen and (min-width:500px) {
            .site-header {
                display: flex;
                justify-content: space-between;
            }
        }
        
        .intro {
            display: flex;
            padding: 20px;
        }
        
        .carousel {
            display: flex;
            height: 400px;
        }
        
        .site-header_navItem {
            display: flexbox;
            justify-content: space-around;
        }
        
        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            font-size: 15px;
            padding: 5px;
        }
        
        .immage {
            display: flexbox;
            width: 100%;
        }